{% extends 'master.html' %}
{% load static %}
{% block title %}Temple Packages{% endblock %}
{% block content %}

    <div class="container">
        <div class="row h1 justify-content-center">
            This page under construction buddy!!
            <dotlottie-player src="https://lottie.host/199520b9-c9de-47f4-ba9d-7fcd99c30fc4/kvNqRnvBkr.json" background="transparent" speed="1" style="width: 1000px; height: 500px;" loop autoplay></dotlottie-player>
        </div>
    </div>

{% endblock %}